TODO: Figure out ravel() 1d array problem

In [1]:
import pandas as pd
import numpy as np
import os
from nltk import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from __future__ import division
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.feature_extraction.text import TfidfVectorizer
import tensorflow as tf

In [2]:
labels = pd.read_csv('stocknews//labels.csv', header=None)

http://stackoverflow.com/questions/28382735/python-pandas-does-not-read-the-first-row-of-csv-file

`pd.read_csv` was cutting off the first row of labels

In [3]:
# Confirm size of labels to make sure data loaded correctly
labels.shape

(1989, 1)

In [4]:
str_tokens_sw = pd.read_csv('stocknews//tokens_str_all.csv', dtype=str, keep_default_na=False)

In [5]:
str_tokens_sw.head()

,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,Top10,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,georgia downs two russian warplanes as countri...,breaking musharraf to be impeached,russia today columns of troops roll into south...,russian tanks are moving towards the capital o...,afghan children raped with impunity official s...,150 russian tanks have entered south ossetia w...,breaking georgia invades south ossetia russia ...,the enemy combatent trials are nothing but sha...,georgian troops retreat from osettain capital ...,did the prep georgia for war with russia,...,georgia invades south ossetia if russia gets i...,al qaeda faces islamist backlash,condoleezza rice the us would not act to preve...,this is busy day the european union has approv...,georgia will withdraw 000 soldiers from iraq t...,why the pentagon thinks attacking iran is bad ...,caucasus in crisis georgia invades south ossetia,indian shoe manufactory and again in series of...,visitors suffering from mental illnesses banne...,no help for mexico kidnapping surge
1,why wont america and nato help us if they wont...,bush puts foot down on georgian conflict,jewish georgian minister thanks to israeli tra...,georgian army flees in disarray as russians ad...,olympic opening ceremony fireworks faked,what were the mossad with fraudulent new zeala...,russia angered by israeli military sale to geo...,an american citizen living in ossetia blames a...,welcome to world war iv now in high definition,georgia move mistake of monumental proportions,...,israel and the us behind the georgian aggression,do not believe tv neither russian nor georgian...,riots are still going on in montreal canada be...,china to overtake us as largest manufacturer,war in south ossetia pics,israeli physicians group condemns state torture,russia has just beaten the united states over ...,perhaps the question about the georgia russia ...,russia is so much better at war,so this is what it come to trading sex for food
2,remember that adorable year old who sang at th...,russia ends georgia operation,if we had no sexual harassment we would have n...,al qa eda is losing support in iraq because of...,ceasefire in georgia putin outmaneuvers the west,why microsoft and intel tried to kill the xo 1...,stratfor the russo georgian war and the balanc...,trying to get sense of this whole georgia russ...,the us military was surprised by the timing an...,beats war drum as iran dumps the dollar,...,troops still in georgia did you know they were...,why russias response to georgia was right,gorbachev accuses of making serious blunder in...,russia georgia and nato cold war two,remember that adorable 62 year old who led you...,war in georgia the israeli connection,all signs point to the us encouraging georgia ...,christopher king argues that the us and nato a...,america the new mexico,bbc news asia pacific extinction by man not cl...
3,refuses israel weapons to attack iran report,when the president ordered to attack tskhinval...,israel clears troops who killed reuters cameraman,britain policy of being tough on drugs is poin...,body of 14 year old found in trunk latest rans...,china has moved 10 million quake survivors int...,bush announces operation get all up in russia ...,russian forces sink georgian ships,the commander of navy air reconnaissance squad...,92 of cnn readers russia actions in georgia ju...,...,elephants extinct by 2020,us humanitarian missions soon in georgia if ru...,georgia ddos came from us sources,russian convoy heads into georgia violating truce,israeli defence minister us against strike on ...,gorbachev we had no choice,witness russian forces head towards tbilisi in...,quarter of russians blame for conflict poll,georgian president says us military will take ...,2006 nobel laureate aleksander solzhenitsyn ac...
4,all the experts admit that we should legalise ...,war in south osetia 89 pictures made by russia...,swedish wrestler ara abrahamian throws away me...,russia exaggerated the death toll in south oss...,missile that killed inside pakistan may have b...,rushdie condemns random house refusal to publi...,poland and us agree to missle defense deal int...,will the russians conquer tblisi bet on it no ...,russia exaggerating south ossetian death toll ...,musharraf expected to resign rather than face ...,...,bank analyst forecast georgian crisis days early,georgia confict could set back russia us relat...,war in the caucasus is as much the product of ...,non media photos of south ossetia georgia conf...,georgian tv reporter shot by russian sniper du...,saudi arabia mother moves to block child marriage,taliban wages war on humanitarian aid workers,russia world can forget about georgia territor...,darfur rebels accuse sudan of mounting major a...,philippines peace advocate say muslims need as...

In [6]:
str_tokens_sw.shape

(1989, 25)

In [7]:
str_tokens_sw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1989 entries, 0 to 1988
Data columns (total 25 columns):
Top1     1989 non-null object
Top2     1989 non-null object
Top3     1989 non-null object
Top4     1989 non-null object
Top5     1989 non-null object
Top6     1989 non-null object
Top7     1989 non-null object
Top8     1989 non-null object
Top9     1989 non-null object
Top10    1989 non-null object
Top11    1989 non-null object
Top12    1989 non-null object
Top13    1989 non-null object
Top14    1989 non-null object
Top15    1989 non-null object
Top16    1989 non-null object
Top17    1989 non-null object
Top18    1989 non-null object
Top19    1989 non-null object
Top20    1989 non-null object
Top21    1989 non-null object
Top22    1989 non-null object
Top23    1989 non-null object
Top24    1989 non-null object
Top25    1989 non-null object
dtypes: object(25)
memory usage: 388.6+ KB

In [8]:
str_tokens_sw.describe()

,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,Top10,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
count,1989,1989,1989,1989,1989,1989,1989,1989,1989,1989,...,1989,1989,1989,1989,1989,1989,1989,1989,1989,1989
unique,1988,1989,1988,1989,1989,1988,1989,1989,1989,1989,...,1989,1989,1989,1989,1989,1989,1989,1989,1987,1987
top,monsanto uprooted germany bans cultivation of ...,wikileaks founder assange to run for australia...,putin who gave nato right to kill gaddafi,romania removes theory of evolution from schoo...,16 year old blogger amos yee jailed in singapo...,from the delhi police why women deserve to be ...,iceland parliament has voted to refer former p...,syria crackdown has killed 000 people un says,french president uses music without permission...,gaddafi wife and three children in algeria,...,bbc to publish google right to be forgotten re...,russia engages in gangland diplomacy as it sen...,bundestag votes that acess to clean water isn ...,china possibly purchasing russian su 35 fighte...,apparently separate outbreak of ebola discover...,bosnian commander mladic led ethnic cleansing ...,chinese made cookies with elevated levels of m...,islamic state australian initiated air strike ...,,
freq,2,1,2,1,1,2,1,1,1,1,...,1,1,1,1,1,1,1,1,3,3

In [9]:
def replace_num(element):
    return ' '.join([('numero' if k.isdigit() else k) for k in element.split()])

http://stackoverflow.com/questions/6905636/python-conditional-list-joins

Instead of a digit, use `'NUMERO'` as it is resistant to stemming/lemmatizing.  It's possible that headlines with numbers might contain some information.  This will prevent preprocessing from discarding the information.

In [10]:
str_tokens_sw['merged'] = str_tokens_sw.iloc[:, 0:].apply(lambda x: ' '.join(x.dropna().values.tolist()), axis=1)

In [11]:
# type(str_tokens['merged'][0])

In [12]:
str_tokens_sw['merged'] = str_tokens_sw['merged'].apply(replace_num)

In [13]:
from nltk.stem.porter import PorterStemmer

In [14]:
pstem = PorterStemmer()

In [15]:
def stm(element):
    return ' '.join([pstem.stem(k) for k in element.split()])

In [16]:
str_tokens_sw['merged'] = str_tokens_sw['merged'].apply(stm)

In [17]:
str_tokens_sw['merged']

0       georgia down two russian warplan as countri mo...
1       whi wont america and nato help us if they wont...
2       rememb that ador year old who sang at the open...
3       refus israel weapon to attack iran report when...
4       all the expert admit that we should legalis dr...
5       mom of miss gay man too bad he not numero year...
6       in an afghan prison the major of femal prison ...
7       man arrest and lock up for five hour after tak...
8       two elderli chines women have been sentenc to ...
9       british resid held in guantanamo bay win legal...
10      syria say it readi to put russian missil syste...
11      korea kim die in numero replac by lookalik say...
12      north korea halt denuclearis after us fail to ...
13      photo of numero year old iraqi suicid bomber w...
14      militari help for georgia is declar of war say...
15      russian prime minist vladimir putin ha accus t...
16      girl film isra soldier brutal sinc then her fa...
17      poland legal of marijuana two majour step in t...
18      secur guard beat man at soccer footbal game fa...
19      in jordan the honor kill that are not women ar...
20      french judg ha order two branch of scientologi...
21      love the world thai prime minist samak sundara...
22      dutch to ban burka when pick children up from ...
23      american intellig confirm that the latest mili...
24      opec finish saudi arabia say later putin may s...
25      did saakashvili lie the west begin to doubt ge...
26      pakistani tribesmen repres half million peopl ...
27      attack on us embassi in yemen leav numero dead...
28      numero babi sick milk scandal spread afghan fa...
29      brit take stand ban short sell of financi stoc...
                              ...
1959    linkedin just reveal that the numero breach th...
1960    it keep happen rape survivor say protest again...
1961    colombia ha fire more than numero polic offic ...
1962    adida shoe manufactur return to germani fulli ...
1963    greek news site are report that aristotl tomb ...
1964    thailand ha shut down numero popular dive site...
1965    everi refer to the great barrier reef remov fr...
1966    forti tiger cub bodi have been found in freeze...
1967    germani recogn the armenian genocid media is i...
1968    seven year old boy who went miss in bear inhab...
1969    nearli numero of qatar popul live in labour ca...
1970    five men in india have been convict for the ga...
1971    un remov saudi arabia from human right blackli...
1972    vandal destroy numero yr old aborigin artwork ...
1973    chief admit he remov saudi arabia from child k...
1974    dutch woman who alleg she wa rape after be dru...
1975    gay chines man sue mental hospit for tri to cu...
1976    isi twitter account have been hijack with gay ...
1977    decriminalis call as war on drug fail top publ...
1978    mp jo cox dead after shoot attack saudi arabia...
1979    stagger numero percent of venezuelan say they ...
1980    an australian athlet who ha compet in six para...
1981    german govern agre to ban frack indefinit teen...
1982    today the unit kingdom decid whether to remain...
1983    david cameron to resign as pm after eu referen...
1984    barclay and rb share suspend from trade after ...
1985    numero scientist to australia if you want to s...
1986    explos at airport in istanbul yemeni former pr...
1987    jamaica propos marijuana dispens for tourist a...
1988    numero year old woman in mexico citi final rec...
Name: merged, dtype: object

Split labels and tokens into 4 folds
Fold 1 = [:499]
Fold 2 = [499:996]
Fold 3 = [996:1493]
Fold 4 = [1493:]

## Split data into train and test sets

In [18]:
train_text = str_tokens_sw.merged[0:1493] # train features

In [19]:
test_text = str_tokens_sw.merged[1493:] # test features

In [20]:
train_labels = labels[0:1493].values # train labels

In [21]:
test_labels = labels[1493:].values; # test labels

In [22]:
vectorizer = TfidfVectorizer( max_features=5000, ngram_range = ( 1, 4 ), sublinear_tf = True, max_df=0.66 )

In [23]:
# Only need text, not labels
train_x = vectorizer.fit_transform( train_text )

In [24]:
test_x = vectorizer.transform( test_text )

In [25]:
train_x.shape

(1493, 5000)

In [26]:
test_x.shape

(496, 5000)

In [27]:
train_labels.shape

(1493, 1)

In [28]:
test_labels.shape

(496, 1)

## Tensorflow ##

In [29]:
# X = tf.cast(X, dtype=tf.float64)

In [30]:
learning_rate = 0.08

In [31]:
batch_size = 149

In [32]:
y_0 = tf.placeholder(tf.float64, [None, 1])

In [33]:
X = tf.placeholder(tf.float64, [None, 5000])

In [34]:
# 1st layer
W_1 = tf.Variable(tf.zeros([5000, 50]))
b_1 = tf.Variable(tf.zeros([50]))

In [35]:
W_1 = tf.cast(W_1, dtype=tf.float64)
b_1 = tf.cast(b_1, dtype=tf.float64)

In [36]:
y_1 = tf.matmul(X, W_1) + b_1

In [37]:
# 2nd layer
W_2 = tf.Variable(tf.zeros([50,1]))
b_2 = tf.Variable(tf.zeros([1]))

In [38]:
W_2 = tf.cast(W_2, dtype=tf.float64)
b_2 = tf.cast(b_2, dtype=tf.float64)

In [39]:
y_2 = tf.nn.softmax(tf.matmul(y_1, W_2) + b_2)

In [40]:
def model(X, W_1, b_1, W_2, b_2):
    y_1 = tf.matmul(X,   W_1) + b_1
    y_2 = tf.matmul(y_1, W_2) + b_2
    return y_2

In [41]:
y_est = model(X, W_1, b_1, W_2, b_2)

In [42]:
cost = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(logits=y_est, labels=y_0))

In [43]:
train_op = tf.train.GradientDescentOptimizer(learning_rate).minimize(cost)

In [44]:
predict_op = y_est

In [45]:
with tf.Session() as sess:
    # initialize variables
    tf.initialize_all_variables().run()
    for i in range(10):
        for start, end in zip(range(0, train_x.shape[0], batch_size), range(batch_size, train_x.shape[0]+1, batch_size)):
            sess.run(train_op, feed_dict={X: train_x.A[start:end,:], y_0: train_labels[start:end]})
            print(i, np.mean((test_labels) == sess.run(predict_op, feed_dict={X: test_x.A})))

WARNING:tensorflow:From <ipython-input-45-de3f835d9d54>:3: initialize_all_variables (from tensorflow.python.ops.variables) is deprecated and will be removed after 2017-03-02.
Instructions for updating:
Use `tf.global_variables_initializer` instead.
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
1 0.0
1 0.0
1 0.0
1 0.0
1 0.0
1 0.0
1 0.0
1 0.0
1 0.0
1 0.0
2 0.0
2 0.0
2 0.0
2 0.0
2 0.0
2 0.0
2 0.0
2 0.0
2 0.0
2 0.0
3 0.0
3 0.0
3 0.0
3 0.0
3 0.0
3 0.0
3 0.0
3 0.0
3 0.0
3 0.0
4 0.0
4 0.0
4 0.0
4 0.0
4 0.0
4 0.0
4 0.0
4 0.0
4 0.0
4 0.0
5 0.0
5 0.0
5 0.0
5 0.0
5 0.0
5 0.0
5 0.0
5 0.0
5 0.0
5 0.0
6 0.0
6 0.0
6 0.0
6 0.0
6 0.0
6 0.0
6 0.0
6 0.0
6 0.0
6 0.0
7 0.0
7 0.0
7 0.0
7 0.0
7 0.0
7 0.0
7 0.0
7 0.0
7 0.0
7 0.0
8 0.0
8 0.0
8 0.0
8 0.0
8 0.0
8 0.0
8 0.0
8 0.0
8 0.0
8 0.0
9 0.0
9 0.0
9 0.0
9 0.0
9 0.0
9 0.0
9 0.0
9 0.0
9 0.0
9 0.0